.navigation-bar {
    position: absolute;
    left: 200px;
    top: 35px;
}

.Title {
    color: black;
    font-size: 15px;
    text-align: center;
    width: 100px;
    left: 175px;
    top: 18px;
    position: absolute;
}

.Title h3 {
    font-family: Arial;
    text-shadow: 2px 2px darkgray;
}

ul {
    list-style: none;
}

#Nav {
    margin: 1rem;
    font-family: Arial;
}

#Nav li {
    width: 500px;
    margin-left: 50px;
}

#Nav a {
    float: left;
    padding: 1rem;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

#Nav a:hover {
    color: gray;
}

#D4gLogo {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 100px;
    top: 41px;
    background: #222424;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

body {
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    width: 1600px;
    height: 100vh;
    background-color: #6DF2DA;
}

.ellipse {
    box-sizing: border-box;
    position: relative;
    width: 783px;
    height: 728px;
    left: 785px;
    top: 177px;
    border-radius: 364px;
    border: 100px solid #FFFCFC;
}

.homepageinfo {
    color: black;
    position: absolute;
    width: 400px;
    height: 151px;
    left: 100px;
    top: 355px;
    font-size: 24px;
    font-family: Serif;
    font-weight: bolder;
}

#prints{
    position: absolute;
    width: 691px;
    height: 720px;
    left: 830px;
    top: 182px;
    opacity: 0.1;
    border-radius: 290px;
}

#dog{
    position: fixed;
    width: 650px;
    height: 750px;
    left: 825px;
    top: 280px;
}