/*****************************************INDEX PAGE*******************************************************/

.navigation-bar {
    position: absolute;
    left: 200px;
    top: 35px;
}

.Title {
    color: black;
    font-size: 15px;
    text-align: center;
    width: 100px;
    left: 175px;
    top: 18px;
    position: absolute;
}

.Title h3 {
    font-family: Arial;
    text-shadow: 2px 2px darkgray;
}

ul {
    list-style: none;
}

#Nav {
    margin: 1rem;
    font-family: Arial;
}

#Nav li {
    width: 500px;
    margin-left: 50px;
}

#Nav a {
    float: left;
    padding: 1rem;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

#Nav a:hover {
    color: gray;
}

#D4gLogo {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 100px;
    top: 41px;
    background: #222424;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#login {
    position: relative;
    left: 750px;
}

body {
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    width: 1600px;
    height: 100vh;
    background-color: #6DF2DA;
}

.ellipse {
    box-sizing: border-box;
    position: relative;
    width: 783px;
    height: 728px;
    left: 785px;
    top: 177px;
    border-radius: 364px;
    border: 100px solid #FFFCFC;
}

.homepageinfo {
    color: black;
    position: absolute;
    width: 400px;
    height: 151px;
    left: 100px;
    top: 355px;
    font-size: 24px;
    font-family: Serif;
    font-weight: bolder;
}

#prints {
    position: absolute;
    width: 691px;
    height: 720px;
    left: 830px;
    top: 182px;
    opacity: 0.1;
    border-radius: 290px;
}

#dog {
    position: fixed;
    width: 650px;
    height: 750px;
    left: 825px;
    top: 280px;
}

/*****************************************BREEDS PAGE*******************************************************/

#groupOfDogs {
    position: fixed;
    width: 600px;
    height: auto;
    left: 580px;
    top: 550px;
}

#breedsEllipse {
    left: 475px;
    top: 450px;
    position: fixed;
}

#breedsPrints {
    position: fixed;
    width: 691px;
    height: 720px;
    left: 510px;
    top: 452px;
    opacity: 0.1;
    border-radius: 290px;
}

form {
    position: relative;
    width: 1000px;
    height: 500px;
    top: 175px;
    left: 400px;
}

label {
    display: inline-block;
    width: 500px;
    font-size: 30px;
    text-align: left;
    color: black;
}

select {
    background-color: white;
    width: 250px;
    border: none;
    padding: 10px;
    color: black;
}

#dogbreed, #weight, #age {
    margin-bottom: 30px;
}

#submit-btn {
    position: relative;
    left: 692px;
    background: #0066A2;
    color: white;
    border-style: outset;
    border-color: #0066A2;
    text-shadow: none;
}

/********************************************GROOMING PAGE*************************************************************/

#groomingellipse {
    left: 785px;
    top: 400px;
    position: fixed;
}

#groomingprints {
    position: fixed;
    width: 691px;
    height: 720px;
    left: 810px;
    top: 400px;
    opacity: 0.1;
    border-radius: 290px;
}

#groomingdog {
    position: fixed;
    height: 800px;
    width: auto;
    left: 950px;
    top: 330px;
}

.GroomingTips {
    color: black;
    left: 980px;
    top: 410px;
    position: fixed;
    font-size: 30px;
}

.groomingInfo {
    color: black;
    position: absolute;
    width: 500px;
    left: 150px;
    top: 300px;
    font-size: 24px;
    font-family: Serif;
    font-weight: bolder;
}

/******************************************EXERCISE PAGE**************************************************************/

#exerciseellipse {
    position: fixed;
    left: 785px;
    top: 400px;
}

#exerciseprints {
    position: fixed;
    width: 691px;
    height: 720px;
    left: 810px;
    top: 400px;
    opacity: 0.1;
    border-radius: 290px;
}

#buckydog {
    position: fixed;
    height: 550px;
    width: auto;
    left: 750px;
    top: 480px;
}

.ExerciseTips {
    color: black;
    left: 980px;
    top: 410px;
    position: fixed;
    font-size: 30px;
}

.exerciseInfo {
    color: black;
    position: absolute;
    width: 500px;
    left: 150px;
    top: 300px;
    font-size: 24px;
    font-family: Serif;
    font-weight: bolder;
}

/*******************************************ABOUT PAGE****************************************************************/

#PictureofHannah {
    height: 400px;
    width: auto;
    position: absolute;
    left: 400px;
    top: 250px;
    border-radius: 300px;
}

#TitleHannah {
    color: black;
    font-size: 20px;
    position: absolute;
    left: 700px;
    top: 330px;
}

#PictureofBrandon {
    height: 375px;
    width: auto;
    position: absolute;
    border-radius: 200px;
    left: 360px;
    top: 725px;
}

#TitleBrandon {
    color: black;
    font-size: 20px;
    position: absolute;
    left: 750px;
    top: 830px;
}

#PictureofCason {
    height: 400px;
    width: auto;
    position: absolute;
    border-radius: 200px;
    left: 475px;
    top: 1170px;
}

#TitleCason {
    color: black;
    font-size: 20px;
    position: absolute;
    left: 630px;
    top: 1220px;
}

#PictureofNicholas {
    height: 400px;
    width: auto;
    position: absolute;
    border-radius: 200px;
    left: 375px;
    top: 1640px;
}

#TitleNicholas {
    color: black;
    font-size: 20px;
    position: absolute;
    left: 730px;
    top: 1720px;
}

#PictureofDillon {
    height: 400px;
    width: auto;
    position: absolute;
    border-radius: 200px;
    left: 375px;
    top: 2100px;
}

#TitleDillon {
    color: black;
    font-size: 20px;
    position: absolute;
    left: 730px;
    top: 2200px;
<<<<<<< HEAD
}

/********************************************LOGIN PAGE****************************************************************/

#Login {
    width: 500px;
    left: 600px;
    top: 225px
}

#username, #password {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 150px;
    display: inline-block;
    box-sizing: border-box;
}

button {
    background-color: #6DF2DA;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    font-size: 30px;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: black;
}

#forgot {
    position: absolute;
    float: right;
    width: 300px;
    left: 195px;
    top: 310px;
    color: black;
}

#login-ellipse {
    left: -175px;
    top: -190px;
    width: 850px;
    height: 700px;
    position: absolute;
    z-index: -5;
}