.navigation-bar {
    position: absolute;
    width: 82.83px;
    height: 75px;
    left: 200px;
    top: 41px;
}

#D4gLogo {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 25px;
    top: 41px;
    background: #222424;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

body {
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    width: 1600px;
    height: 100vh;
    background-color: #6DF2DA;
}

.ellipse {
    box-sizing: border-box;
    position: relative;
    width: 783px;
    height: 728px;
    left: 785px;
    top: 177px;
    border-radius: 364px;
    border: 100px solid #FFFCFC;
}

.homepageinfo {
    color: black;
    position: absolute;
    width: 617.17px;
    height: 151px;
    left: 98px;
    top: 355px;
}

#prints{
    position: absolute;
    width: 691px;
    height: 736px;
    left: 785px;
    top: 185px;
}

#homepagedog{
    position: absolute;
    width: 600px;
    height: 700px;
    left: 785px;
    top: 125px;
}